---
import { getEvents } from "@sanity/api";

import DisplayEvents from "@components/DisplayEvents.svelte";
import type { PageData } from "./$types";
export let data: PageData;
import Layout from "@layouts/Layout.astro";
import PageBanner from "@components/PageBanner.astro";

const { events, urlFor } = await getEvents();
---

<!-- ToDo: add option for seeing all events -->
<Layout title="F3-Avl-Events">
  <PageBanner>Upcoming Events</PageBanner>
  <div class="grid max-w-4xl gap-4 md:mx-auto lg:gap-8">
    <div
      class="mx-4 flex flex-col flex-wrap items-center justify-center gap-4 lg:flex-row"
    >
      <DisplayEvents events={events} urlFor={urlFor} />
    </div>
  </div>
</Layout>
