---
import { getSchedules } from "@sanity/api";
import Layout from "@layouts/Layout.astro";
import Schedule from "@components/Schedule.svelte";
import PageBanner from "@components/PageBanner.astro";
const { schedules } = await getSchedules();
---

<!-- ToDo: Make map reactive. Only display selected locations. -->
<Layout title="schedule">
  <PageBanner>Schedule</PageBanner>
  <div class="mx-4 grid max-w-4xl gap-4 md:mx-auto">
    <Schedule schedules={schedules} client:load />
  </div>
</Layout>
