---
const { alerts } = Astro.props;
console.log(alerts[0].alert);
---

<header class="mb-4 -mt-4 justify-center bg-red-600 py-4">
  <h2 class="mb-2 text-center text-zinc-50">---Notices---</h2>
  {
    alerts.map((alert) => (
      <p class="text-center text-zinc-50">
        <span class="font-stencil text-2xl  uppercase ">--{alert.alert}:</span>
        <span class="font-roboto text-xl capitalize"> {alert.details}</span>
      </p>
    ))
  }
</header>
