--- 
  import { Icon } from 'astro-icon'

  ---


  
  	<footer class="flex justify-between px-4 py-2 border-t-4 shadow border-zinc-900">
	<p>2023</p>
	<div class="flex gap-4">

	<a class="text-zinc-900 hover:text-green-600 " href="https://twitter.com/f3asheville">
		<Icon name="mdi:twitter" class="h-8 text-zinc-800"/>
	</a>
	<a class="text-zinc-900 hover:text-green-600 " href="http://facebook.com/f3ashville/"
		>		<Icon class="h-8 text-zinc-800" name="mdi:facebook" />
</a
	>
	<a class="text-zinc-900 hover:text-green-600 " href="https://www.instagram.com/f3asheville/"
		>		<Icon class="h-8 text-zinc-800" name="mdi:instagram" />

	</a>
	</div>
	<a href="https://aaronhubbard.dev">akh dev</a>
</footer>