---
import { Picture } from "@astrojs/image/components";
import logo from "@images/f3.png";
import HamburgerMenu from "./Hamburger.svelte";
import NavBar from "@components/NavBar.astro";
const { height, width } = logo;
---

<header
  class="fixed top-0 left-0 z-10 h-20 w-full border-2 border-b-zinc-900 bg-zinc-50/90 p-2 sm:h-28"
>
  <div class="flex h-full items-center justify-between">
    <a href="/" class="flex items-center gap-4">
      <div class="w-12 sm:w-16">
        <Picture
          widths={[80, 160, 240]}
          sizes="(max-width: 600) 80px, (max-width:800) 160px"
          alt="The F3 Asheville logo"
          src={logo}
          aspectRatio={width / height}
          format="webp"
          width={width}
          height={height}
          loading="eager"
        />
      </div>
      <div>
        <h1 class="text-3xl md:text-3xl">F3 Asheville</h1>
        <div class="hidden sm:flex">
          <h2 class="text-base text-zinc-600 sm:text-2xl">Fitness.</h2>
          <h2 class="text-base text-zinc-600 sm:text-2xl">Fellowship.</h2>
          <h2 class="text-base text-zinc-600 sm:text-2xl">Faith.</h2>
        </div>
      </div>
    </a>
    <div class="shrink-0 justify-self-end lg:hidden">
      <HamburgerMenu client:load />
    </div>
    <div class="hidden lg:block">
      <NavBar />
    </div>
  </div>
</header>
