---
import { Image } from "@astrojs/image/components";

import logo from "@images/f3.png";
---

<header
  class="grid gap-4 border-b-8 border-zinc-900 p-2 shadow lg:mt-4 lg:justify-center lg:gap-12"
>
  <a href="/" class="grid grid-cols-[auto,_1fr] items-center gap-4 lg:gap-20">
    <Image
      class="h-16 w-14 md:h-60 md:w-52"
      alt="The F3 Asheville logo"
      src={logo}
      quality="50"
    />
    <div>
      <h1 class="text-5xl md:text-8xl">F3 Asheville</h1>

      <h2 class="text-2xl text-zinc-600 md:text-5xl">
        Fitness.Fellowship.Faith.
      </h2>
    </div>
  </a>
  <nav>
    <ul class="flex justify-between gap-4">
      <li>
        <a href="/" class="font-stencil hover:text-green-600 md:text-xl">Home</a
        >
      </li>
      <li>
        <a href="/schedule" class="font-stencil hover:text-green-600 md:text-xl"
          >Schedule</a
        >
      </li>
      <li>
        <a href="/events" class="font-stencil hover:text-green-600 md:text-xl"
          >Upcoming Events</a
        >
      </li>
      <li>
        <a href="/contact" class="font-stencil hover:text-green-600 md:text-xl"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
