---
import logo from "@images/f3.png";
---

<header
  class="grid gap-4 lg:gap-12 lg:mt-4 p-2 border-b-8 shadow border-zinc-900 lg:justify-center"
>
  <a href="/" class="grid grid-cols-[auto,_1fr] gap-4 lg:gap-20 items-center">
    <img
      class="w-14 h-16 md:w-52 md:h-60"
      alt="The F3 Asheville logo"
      src={logo}
    />
    <div>
      <h1 class="text-5xl md:text-8xl">F3 Asheville</h1>

      <h2 class="text-2xl md:text-5xl text-zinc-600">
        Fitness.Fellowship.Faith.
      </h2>
    </div>
  </a>
  <nav>
    <ul class="flex justify-between gap-4">
      <li>
        <a href="/" class="font-stencil md:text-xl hover:text-green-600">Home</a
        >
      </li>
      <li>
        <a href="/schedule" class="font-stencil md:text-xl hover:text-green-600"
          >Schedule</a
        >
      </li>
      <li>
        <a href="/events" class="font-stencil md:text-xl hover:text-green-600"
          >Upcoming Events</a
        >
      </li>
      <li>
        <a href="/contact" class="font-stencil md:text-xl hover:text-green-600"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
