<div>
	<iframe
		title="Asheville Region F3 Location Map"
		src="https://www.google.com/maps/d/embed?mid=1vu_HRJFd93InZVySmqwyPe3wbZ72czA&hl=en&ehbc=2E312F&callback=Function.prototype"
		width="640"
		height="480"
		class=" w-full "
	/>
</div>
