<nav>
  <ul class="flex items-start justify-start gap-4">
    <li>
      <a
        href="/"
        class="font-stencil font-bold uppercase hover:text-red-600 max-[400px]:text-lg md:text-xl xl:text-2xl"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/schedule"
        class="font-stencil font-bold uppercase hover:text-red-600 max-[400px]:text-lg md:text-xl xl:text-2xl"
        >Schedule</a
      >
    </li>
    <li>
      <a
        href="/events"
        class="font-stencil font-bold uppercase hover:text-red-600 max-[400px]:text-lg md:text-xl xl:text-2xl"
      >
        Events</a
      >
    </li>
    <li>
      <a
        href="/schedule"
        class="bg-red-500 p-2 font-stencil font-bold uppercase hover:text-zinc-50 max-[400px]:text-lg md:text-xl xl:text-2xl"
        >Workout Now!</a
      >
    </li>
  </ul>
</nav>
